<div class="container">
    <div class="time-card">
        <div class="header row">
            <div class="col-md-3">
                <div class="equipment-info">
                    <h1>EQUIPMENT TIME CARD</h1>
                </div>
            </div>
            <div class="form-group col-md-3">
                <input type="text" formControlName="longitude">
                <label for="companyName">Serial No.</label>
            </div>
           
        </div>
        
        <form action="">
            <div class="form-container p-4">
                <div class="input-class row">
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="clientId" class="form-label">Client</label>
                    </div>
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="clientId" class="form-label">Site</label>
                    </div>
                </div>
    
                <div class="input-class row">
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" " >
                        <label for="clientId" class="form-label">Equipment</label>
                    </div>
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="clientId" class="form-label">S/N</label>
                    </div>
                </div>
    
                <div class="input-class row">
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" " >
                        <label for="clientId" class="form-label">Contract Hours</label>
                    </div>
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="clientId" class="form-label">Plate No</label>
                    </div>
                </div>
    
                <div class="input-class row">
                    <div class="form-group col-md">
                        <input type="text" class="form-control" placeholder=" " >
                        <label for="clientId" class="form-label">MOB/DMOB</label>
                    </div>
                    <div class="form-group col-md">
                        <div class="row">
                            <div class="form-group col-md">
                                <input type="text" class="form-control" placeholder=" ">
                                <label for="clientId" class="form-label">Month</label>
                            </div>
                            <div class="form-group col-md">
                                <input type="text" class="form-control" placeholder=" " >
                                <label for="clientId" class="form-label">Year</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>


<div class="form-container2 p-4 row">
    <table class="col-md">
      <thead>
        <tr>
          <th>Date</th>
          <th>Working Hours</th>
          <th>OT Hours</th>
          <th>Client Signature</th>
        </tr>
      </thead>
      <tbody>
        <!-- First half of the month -->
        <tr>
          <td>01</td><td><input type="number"></td><td><input type="number"></td><td><canvas #signatureCanvas class="signature-box"></canvas></td>
        </tr>
        <tr>
            <td>02</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>03</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>04</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>04</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>06</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>07</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>01</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>08</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>09</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>10</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>11</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>12</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>13</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>14</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>16</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
        <tr>
            <td>16</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
        </tr>
      </tbody>
    </table>

    <table class="col-md">
      <thead>
        <tr>
          <th>Date</th>
          <th>Working Hours</th>
          <th>OT Hours</th>
          <th>Client Signature</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>17</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>18</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>19</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>20</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>21</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>22</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>23</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>24</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>25</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>26</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>27</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>28</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>29</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>30</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td>31</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
          <tr>
              <td style="font-size: px;">Total</td><td><input type="number"></td><td><input type="number"></td><td><input type="text"></td>
          </tr>
      </tbody>
    </table>
  </div>
        </form>

    </div>
</div>
