<h3>Details</h3>

<div class="container">

        <div class="content ">
            <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-body p-5">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Date</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Description</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <textarea></textarea>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Vehicle No</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Quantity</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Unit</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Amount</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">VAT</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Total Amount</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Payment Method</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input>
                        </div>
                      </div>
                      <hr>
            
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>

        </div>

</div>