<!-- <div class="header-title mb-4">
    <h6>DASHBOARD</h6>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="title">
            <img src="assets/icons/user-icon.png" alt="" class="image--cover" />
            <div class="title-text mt-2">
                <p style="margin-bottom: .5rem;">Welcome to GGT Dashboard</p>
                <h5>Abraham Antony A</h5>
                <p style="margin-top: -10px;">Business Analyst</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card">
                    <div class="card-block">
                        <p class="card-block-p mt-2">Total Projects</p><hr>
                        <h5 class="card-block-h6">1425</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card">
                    <div class="card-block">
                        <p class="card-block-p mt-2">Total Projects</p><hr>
                        <h5 class="card-block-h6">1425</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card">
                    <div class="card-block">
                        <p class="card-block-p mt-2">Total Projects</p><hr>
                        <h5 class="card-block-h6">1425</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card">
                    <div class="card-block">
                        <p class="card-block-p mt-2">Total Projects</p><hr>
                        <h5 class="card-block-h6">1425</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->